@charset "UTF-8";
@font-face {
  font-family: "DS digital";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("font/DS-Digital-Bold.woff2") format("woff2"), url("font/DS-Digital-Bold.woff") format("woff"), url("font/DS-Digital-Bold.ttf") format("truetype");
}
/* reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, table, th, td, form, fieldset, legend, input, select, textarea, button, article, aside, dialog, header, section, footer, nav, figure, main {
  margin: 0;
  padding: 0;
}

article, aside, dialog, header, section, footer, nav, figure, main {
  display: block;
}

html, body {
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

ul, ol {
  list-style: none;
}

table {
  table-layout: fixed;
  border-spacing: 0;
}

input, button, select {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  border: 0;
  border-radius: 0;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

img, fieldset {
  border: 0;
  vertical-align: top;
}

em, address {
  font-style: normal;
}

a {
  color: #242424;
  text-decoration: none;
  cursor: pointer;
}

button, input, label {
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

button {
  cursor: pointer;
  white-space: nowrap;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

::-webkit-file-upload-button {
  cursor: pointer;
}

hr {
  display: none;
}

.blind, caption span, legend {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  clip: rect(0, 0, 0, 0);
}

/* common */
body, input, select, textarea, button, a {
  font-family: -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
  word-break: keep-all;
  word-wrap: break-word;
}

body.scroll_lock {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

div {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input:focus {
  outline: 0;
}

input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.38);
}

input::-moz-placeholder {
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.38);
}

input:-ms-input-placeholder {
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.38);
}

input::-ms-input-placeholder {
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.38);
}

input::placeholder {
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.38);
}

input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.38);
}

input:-ms-input-placeholder {
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.38);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}

.skip {
  height: 0;
}

.skip a {
  display: block;
  position: absolute;
  left: 0;
  top: -100px;
  width: 100%;
  text-align: center;
}

.skip a:focus, .skip a:active {
  position: absolute;
  top: 0;
  z-index: 210;
  padding: 10px 0;
  background: #000;
  font-weight: bold;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100dvh;
  font-family: "DS digital", sans-serif;
}

.wrap {
  position: relative;
  margin: 0 auto;
  background-color: #d9d9d9;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
  border: 1px solid #818181;
  padding: 20px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.header .screen {
  width: 180px;
  height: 100%;
  padding: 0 10px;
  border: 2px solid #818181;
  border-top-color: #818181;
  border-left-color: #818181;
  border-right-color: #eee;
  border-bottom-color: #eee;
  background-color: #000;
  font-size: 42px;
  color: red;
  text-align: center;
  line-height: 43px;
}
.header .btn-reset {
  width: 40px;
  height: 40px;
  border: 2px solid #818181;
  margin: 0 10px;
  border-top-color: #eee;
  border-left-color: #eee;
  border-right-color: #818181;
  border-bottom-color: #818181;
  background-image: url(../img/img_smile.png);
  background-repeat: no-repeat;
  background-size: 26px 26px;
  background-position: 50% 50%;
}
.header .btn-reset:active {
  border-top-color: #818181;
  border-left-color: #818181;
  border-right-color: #eee;
  border-bottom-color: #eee;
}

.footer {
  height: 0;
}

.main {
  position: relative;
  width: 260px;
  padding: 40px;
  border: 1px solid #818181;
}

.dimmed {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  height: 100%;
  padding: 30px;
  color: #fff;
  font-size: 40px;
  text-align: center;
}
.dimmed.failed {
  background-color: rgba(105, 0, 0, 0.7);
}
.dimmed.clear {
  background-color: rgba(8, 71, 0, 0.7);
}
.dimmed .title {
  font-size: 50px;
}
.dimmed .title-sub {
  margin-top: 20px;
}

.level-list {
  text-align: center;
}

.level-item {
  width: 100%;
  margin-top: 20px;
  border: 4px solid #818181;
  border-top-color: #eee;
  border-left-color: #eee;
  border-right-color: #818181;
  border-bottom-color: #818181;
  font-size: 16px;
  font-weight: 700;
  line-height: 40px;
}
.level-item:first-child {
  margin-top: 0;
}
.level-item:active {
  border-top-color: #818181;
  border-left-color: #818181;
  border-right-color: #eee;
  border-bottom-color: #eee;
}

.cell-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.cell-item {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  border: 4px solid #818181;
  border-top-color: #eee;
  border-left-color: #eee;
  border-right-color: #818181;
  border-bottom-color: #818181;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: none;
}
.cell-item::after {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 80% auto;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  line-height: 34px;
  content: "";
}
.cell-item:enabled {
  cursor: pointer;
}
.cell-item:checked {
  border: 2px solid #818181;
  border-top-color: #818181;
  border-left-color: #818181;
  border-right-color: #eee;
  border-bottom-color: #eee;
}
.cell-item:checked::after {
  display: block;
}
.cell-item:checked.status-bomb::after {
  background-color: #F42E1C;
  background-image: url(../img/img_bomb.png);
}
.cell-item:checked.status-1::after {
  content: "1";
  color: #2E00FC;
}
.cell-item:checked.status-2::after {
  content: "2";
  color: #1F790B;
}
.cell-item:checked.status-3::after {
  content: "3";
  color: #F42E1C;
}
.cell-item:checked.status-4::after {
  content: "4";
  color: #920092;
}
.cell-item:checked.status-5::after {
  content: "5";
  color: #000000;
}
.cell-item.status-flag::after {
  display: block;
  background-image: url(../img/img_flag.png);
}